<div class="thumbnail">
      <div class="caption">
      <h2><%= @category.name %></h2>

      <br>
      <br>
      <h2>List of movies:</h2>
      <% movies = @category.movies.sort_by { |movie| movie.year } %>
      <%= render movies %>
    </div>
  </div>
